:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--main-page-padding);
  background-color: inherit;
}
header {
  position: sticky;
  top: -4px;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--mode-title-height);
  border: var(--mode-title-border-width) solid var(--mode-title-border-color);
  border-radius: var(--mode-title-border-radius);
  padding-right: var(--mode-title-horizontal-padding);
  padding-left: var(--mode-title-horizontal-padding);
  font-family: var(--mode-title-font-family);
  font-size: var(--mode-title-font-size);
  font-weight: var(--mode-title-font-weight);
  color: var(--mode-title-font-color);
  z-index: 1;
  @media screen and (max-width: 900px) {
    font-size: calc(2vw + 3vh / 2);
  }
  .selected-hardware-label, .selected-mode-label, .back-to-hardware-selector-label, .back-to-mode-selector-label {
    padding: 0 8px;
    line-height: 1em;
  }
  .back-to-hardware-selector-label, .back-to-mode-selector-label {
    font-family: 'Dubai';
    font-size: 18px;
    cursor: pointer;
    &:focus, &:hover {
      text-decoration: underline;
    }
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--mode-title-border-width) solid var(--mode-title-border-color);
  border-radius: var(--mode-title-border-radius);
  padding: 8px var(--mode-title-horizontal-padding);
  font-family: var(--mode-title-font-family);
  font-size: 20px;
  font-weight: var(--mode-title-font-weight);
  color: var(--mode-title-font-color);
  .footer-links {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 16px;
  }
  @media screen and (max-width: 900px) {
    font-size: 18px;
    .footer-links {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
    .footer-links {
      font-size: 14px;
    }
  }
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  .selected-mode {
    padding: 32px 0;
    overflow-x: hidden;
    &.important-notes-mode .selected-mode-section {
      margin: 0 auto;
    }
    &-sections {
      margin: -16px -28px;
      display: flex;
      flex-wrap: wrap;
    }
    &-section {
      width: var(--section-width-sm);
      padding: 16px 28px;
      @media screen and (min-width: 1280px) {
        width: var(--section-width-md);
      }
      @media screen and (min-width: 1920px) {
        width: var(--section-width-lg);
      }
      &-header {
        display: flex;
        align-items: center;
        height: var(--section-header-height);
        padding: 0 var(--section-header-horizontal-padding);
        border-radius: var(--section-header-border-radius);
        background-color: var(--section-header-background-color);
        color: var(--section-header-font-color);
        font-family: var(--section-header-font-family);
        font-size: var(--section-header-font-size);
        font-weight: var(--section-header-font-weight);
        letter-spacing: var(--section-header-letter-spacing);
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: var(--section-item-vertical-spacing);
        &-label-container {
          margin-right: 40px;
        }
        &-label, &-secondary-label {
          color: var(--section-item-label-font-color);
          font-family: var(--section-item-label-font-family);
          font-weight: var(--section-item-label-font-weight);
          letter-spacing: var(--section-item-label-letter-spacing);
        }
        &-label {
          font-size: var(--section-item-label-font-size);
        }
        &-secondary-label {
          display: block;
        }
        &-actions {
          display: flex;
          align-items: center;
        }
        &-action {
          &-jog-wheel {
            width: var(--jog-wheel-width);
            height: var(--jog-wheel-height);
            padding: 6px;
            border-radius: 50%;
            background-color: var(--jog-wheel-background-color);
            &-inner-border {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              padding: 6px;
              border-radius: 50%;
              border: 1px outset var(--jog-wheel-inner-color);
              &-arrow {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px solid var(--jog-wheel-inner-color);
                border-right-color: transparent;
                animation: rotateZ 2s ease-in-out infinite alternate;
                &::before {
                  content: "";
                  position: absolute;
                  top: 27px;
                  left: 24px;
                  border: 8px solid var(--jog-wheel-inner-color);
                  border-top-color: var(--jog-wheel-inner-color);
                  border-bottom-width: 0;
                  border-right-width: 0;
                  border-left-color: transparent;
                  animation: showHideAnimation 2s infinite alternate-reverse;
                }
                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 24px;
                  border: 8px solid var(--jog-wheel-inner-color);
                  border-bottom-color: var(--jog-wheel-inner-color);
                  border-top-width: 0;
                  border-right-width: 0;
                  border-left-color: transparent;
                  animation: showHideAnimation 2s infinite alternate;
                }
                @keyframes rotateZ {
                  to { transform: rotateZ(360deg); }
                }
                @keyframes showHideAnimation {
                  to { opacity: 0; }
                }
              }
              &-push {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: var(--jog-wheel-inner-color);
                animation: zoomInOutAnimation .5s infinite alternate;
                &::after {
                  content: "";
                  display: block;
                  width: calc(100% + 6px);
                  height: calc(100% + 6px);
                  margin: -4px;
                  opacity: .5;
                  border-radius: 50%;
                  border: 1px dotted var(--jog-wheel-inner-color);
                }
                @keyframes zoomInOutAnimation {
                  to { transform: scale(1.15); }
                }
              }
              &-arrow, &-push {
                opacity: .9;
              }
            }
          }
          &-touch-strip {
            position: relative;
            width: var(--touch-strip-width);
            height: var(--touch-strip-height);
            margin-top: 4px; // top margin to compensate with the absolute positioning of the touch strip lights/dots above
            padding: 0 4px;
            border: 1px solid var(--touch-strip-border-color);
            border-radius: var(--touch-strip-border-radius);
            &::before {
              content: "";
              position: absolute;
              top: -8px;
              right: 8px;
              left: 8px;
              border-top: 4px dotted var(--touch-strip-border-color);
            }
            &-inner-box {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              background-color: var(--touch-strip-background-color);
              &-left-arrow, &-right-arrow {
                position: relative;
                width: 24px;
                height: 2px;
                margin: 0 8px;
                background-color: var(--touch-strip-inner-color);
                opacity: .9;
              }
              &-left-arrow::before {
                content: "";
                position: absolute;
                top: -3px;
                left: -6px;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-right: 6px solid var(--touch-strip-inner-color);
              }
              &-right-arrow::before {
                content: "";
                position: absolute;
                top: -3px;
                right: -6px;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 6px solid var(--touch-strip-inner-color);
              }
            }
          }
          &-pad {
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--pad-button-width);
            height: var(--pad-button-height);
            border-radius: var(--pad-button-border-radius);
            border: var(--pad-button-border-width) solid var(--pad-button-border-color);
            font-family: var(--pad-button-font-family);
            font-size: var(--pad-button-font-size);
            font-weight: var(--pad-button-font-weight);
            color: var(--pad-button-font-color);
          }
          &-separator {
            margin: 0 var(--toggle-button-separator-horizontal-margin);
            font-family: var(--toggle-button-separator-font-family);
            font-size: var(--toggle-button-separator-font-size);
            font-weight: var(--toggle-button-separator-font-weight);
            color: var(--toggle-button-separator-font-color);
            &.slash-separator {
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: initial;
          justify-content: initial;
          padding: 8px 16px 16px;
          border: 1px dashed var(--section-item-label-font-color);
          &-actions {
            margin-top: 16px;
          }
        }
      }
    }
  }
  .hardware-selector, .mode-selector {
    max-width: 768px;
    margin: 52px auto;
    font-family: 'Franklin Gothic Book';
    &-title {
      text-align: center;
      font-size: 24px;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 12px;
        padding: 24px;
        min-width: var(--pad-button-width);
        height: var(--pad-button-height);
        border: var(--pad-button-border-width) solid var(--pad-button-border-color);
        border-radius: var(--pad-button-border-radius);
        font-family: var(--pad-button-font-family);
        font-size: 24px;
        transition: background-color .2s;
        cursor: pointer;
        &:focus, &:hover {
          background-color: #f4f4f4;
          outline: 1px solid var(--pad-button-border-color);
        }
      }
    }
  }
}
.toggle-button {
  width: var(--toggle-button-width);
  height: var(--toggle-button-height);
  padding: var(--toggle-button-padding);
  background-color: var(--toggle-button-background-color);
  color: var(--toggle-button-font-color);
  border-radius: var(--toggle-button-border-radius);
  &.small-button {
    width: var(--toggle-small-button-width);
    height: var(--toggle-small-button-height);
    border-radius: var(--toggle-small-button-border-radius);
  }
  &.small-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--toggle-small-icon-button-width);
    height: var(--toggle-small-icon-button-height);
    border-radius: var(--toggle-small-icon-button-border-radius);
  }
  &.play-button {
    color: var(--play-button-font-color);
    animation: playButtonGlow .5s ease-in-out infinite alternate;
    @keyframes playButtonGlow {
      to { text-shadow: 0 0 12px var(--play-button-font-color); }
    }
  }
  &.rec-button {
    color: var(--rec-button-font-color);
    animation: recButtonGlow .5s ease-in-out infinite alternate;
    @keyframes recButtonGlow {
      to { text-shadow: 0 0 12px var(--rec-button-font-color); }
    }
    .toggle-button-secondary-label {
      color: var(--rec-button-font-color);
      opacity: .5;
    }
  }
  &.shift-button .toggle-button-label {
    display: inline-flex;
    vertical-align: top;
    padding: 3px 3px 1px;
    border-radius: var(--toggle-button-border-radius);
    background-color: var(--toggle-button-font-color);
    color: var(--toggle-button-background-color);
  }
  &-label, &-secondary-label {
    font-family: var(--toggle-button-font-family);
    font-size: var(--toggle-button-font-size);
    font-weight: var(--toggle-button-font-weight);
    letter-spacing: var(--toggle-button-letter-spacing);
    line-height: 1em;
  }
  &-label {
    display: flex;
    align-items: center;
  }
  &-secondary-label {
    margin-top: 1px;
    color: var(--toggle-button-secondary-font-color);
    font-weight: var(--toggle-button-secondary-font-weight);
  }
}
.toggle-button-icon {
  width: var(--toggle-button-icon-size);
  height: var(--toggle-button-icon-size);
  margin-right: 4px;
  margin-bottom: 2px;
  background-color: var(--toggle-button-font-color);
  &.play {
    background-color: transparent;
    border-top: calc(var(--toggle-button-icon-size) / 2 + 1px) solid transparent;
    border-bottom: calc(var(--toggle-button-icon-size) / 2 + 1px) solid transparent;
    border-left: var(--toggle-button-icon-size) solid var(--play-button-font-color);
  }
  &.rec {
    border-radius: 50%;
    background-color: var(--rec-button-font-color);
  }
}
.maschine-icon, .favourite-icon, .browser-icon {
  width: 16px;
  height: 16px;
  &.favourite-icon {
    width: 12px;
    height: 12px;
  }
  path {
    &.light {
      fill: var(--toggle-button-font-color) !important;
    }
    &.dark {
      fill: var(--toggle-button-background-color) !important;
    }
  }
}