<header [class.no-mode-selected]="!selectedMode">
  {{ selectedMode?.title ?? (selectedMode?.type ? (selectedMode?.type + ' Mode') : null) ?? 'MASCHINE MK3 / MIKRO MK3 Ableton Live 11 Script' }}
  <div role="link" tabindex="0" *ngIf="selectedMode" class="back-to-mode-selector" (click)="selectedMode = undefined" (keydown.ENTER)="selectedMode = undefined">Back to Mode Selector</div>
</header>
<main>
  <div *ngIf="selectedMode; else modeSelector" class="selected-mode">
    <div class="selected-mode-sections">
      <div *ngFor="let section of selectedMode.sections" class="selected-mode-section">
        <div class="selected-mode-section-header">{{ section.title }}</div>
        <div *ngFor="let sectionItem of section.items" class="selected-mode-section-item">
          <div class="selected-mode-section-item-label">{{ sectionItem.label }}</div>
          <div class="selected-mode-section-item-actions">
            Dynamic actions here
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #modeSelector>
    <div class="mode-selector">
      <div class="mode-selector-title">Select a Mode</div>
      <div class="mode-selector-list">
        <div role="button" tabindex="0" *ngFor="let mode of modes" class="mode-selector-list-item" (click)="selectedMode = mode" (keydown.ENTER)="selectedMode = mode">
          {{ mode.type }}
        </div>
      </div>
    </div>
  </ng-template>
</main>
<footer></footer>