<header [class.no-mode-selected]="!selectedMode">
  {{ selectedMode?.title ?? (selectedMode?.type ? (selectedMode?.type + ' Mode') : null) ?? 'MASCHINE MK3 / MIKRO MK3 Ableton Live 11 Script' }}
  <div role="link" tabindex="0" *ngIf="selectedMode" class="back-to-mode-selector" (click)="selectedMode = undefined" (keydown.ENTER)="selectedMode = undefined">Back to Mode Selector</div>
</header>
<main>
  <div *ngIf="selectedMode; else modeSelector" class="selected-mode">
    <div class="selected-mode-sections">
      <div *ngFor="let section of selectedMode.sections" class="selected-mode-section">
        <div class="selected-mode-section-header">{{ section.title }}</div>
        <div *ngFor="let sectionItem of section.items" class="selected-mode-section-item">
          <div class="selected-mode-section-item-label">{{ sectionItem.label }}</div>
          <div *ngIf="sectionItem.actions?.length" class="selected-mode-section-item-actions">
            <ng-container *ngFor="let action of sectionItem.actions" class="selected-mode-section-item-action">
              <ng-container [ngSwitch]="action.actionType">
                <ng-container *ngSwitchCase="actionTypeEnum.TOGGLE" [ngTemplateOutlet]="toggleButton" [ngTemplateOutletContext]="{ action }"></ng-container>
                <ng-container *ngSwitchCase="actionTypeEnum.TOGGLE_SMALL" [ngTemplateOutlet]="toggleButton" [ngTemplateOutletContext]="{ action, styleClass: 'small-button' }"></ng-container>
                <ng-container *ngSwitchCase="actionTypeEnum.PLAY" [ngTemplateOutlet]="toggleButton" [ngTemplateOutletContext]="{ action, label: 'PLAY', iconClassName: 'play' }"></ng-container>
                <ng-container *ngSwitchCase="actionTypeEnum.REC" [ngTemplateOutlet]="toggleButton" [ngTemplateOutletContext]="{ action, label: 'REC', secondaryLabel: 'Count-In', iconClassName: 'rec' }"></ng-container>
                <ng-container *ngSwitchCase="actionTypeEnum.STOP" [ngTemplateOutlet]="toggleButton" [ngTemplateOutletContext]="{ action, label: 'STOP', iconClassName: 'stop' }"></ng-container>
                <ng-container *ngSwitchCase="actionTypeEnum.SHIFT" [ngTemplateOutlet]="toggleButton" [ngTemplateOutletContext]="{ action, label: 'SHIFT', styleClass: 'shift-button' }"></ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #modeSelector>
    <div class="mode-selector">
      <div class="mode-selector-title">Select a Mode</div>
      <div class="mode-selector-list">
        <div role="button" tabindex="0" *ngFor="let mode of modes" class="mode-selector-list-item" (click)="selectedMode = mode" (keydown.ENTER)="selectedMode = mode">
          {{ mode.type }}
        </div>
      </div>
    </div>
  </ng-template>
</main>
<footer></footer>
<ng-template #toggleButton let-action="action" let-label="label" let-secondaryLabel="secondaryLabel" let-styleClass="styleClass" let-iconClassName="iconClassName">
  <div [class]="'toggle-button ' + styleClass">
    <div *ngIf="label ?? action.label" class="toggle-button-label">
      <div *ngIf="iconClassName" [class]="'toggle-button-icon ' + iconClassName"></div>
      {{ label ?? action.label }}
    </div>
    <div *ngIf="secondaryLabel ?? action.secondaryLabel" class="toggle-button-secondary-label">{{ secondaryLabel ?? action.secondaryLabel }}</div>
  </div>
</ng-template>