:root {
  --main-page-padding: 52px 56px;
  --mode-title-height: 80px;
  --mode-title-border-radius: 4px;
  --mode-title-border-width: 2px;
  --mode-title-border-color: #363636;
  --mode-title-horizontal-padding: 24px;
  --mode-title-font-family: 'Franklin Gothic Medium Cond';
  --mode-title-font-size: 44px;
  --mode-title-font-weight: normal;
  --mode-title-font-color: #373634;
  --section-width-sm: 100%;
  --section-width-md: 50%;
  --section-width-lg: calc(100% / 3);
  --section-width-xl: 25%;
  --section-header-height: 40px;
  --section-header-border-radius: 4px;
  --section-header-horizontal-padding: 16px;
  --section-header-background-color: #373634;
  --section-header-font-family: 'Franklin Gothic Medium Cond';
  --section-header-font-size: 20px;
  --section-header-font-weight: normal;
  --section-header-font-color: #f2f2f2;
  --section-header-letter-spacing: .5px;
  --section-item-vertical-spacing: 24px;
  --section-item-label-font-family: 'Franklin Gothic Book';
  --section-item-label-font-size: 16px;
  --section-item-label-font-weight: normal;
  --section-item-label-font-color: #575653;
  --section-item-label-letter-spacing: .5px;
  --toggle-button-width: 80px;
  --toggle-button-height: 48px;
  --toggle-button-border-radius: 3px;
  --toggle-small-button-width: 90px;
  --toggle-small-button-height: 30px;
  --toggle-small-button-border-radius: 3px;
  --toggle-small-icon-button-width: 36px;
  --toggle-small-icon-button-height: 30px;
  --toggle-small-icon-button-border-radius: 3px;
  --toggle-button-padding: 4px 5px;
  --toggle-button-background-color: #373634;
  --toggle-button-font-family: 'Dubai';
  --toggle-button-font-size: 10px;
  --toggle-button-font-weight: bold;
  --toggle-button-font-color: #f2f2f2;
  --toggle-button-secondary-font-weight: normal;
  --toggle-button-secondary-font-color: #afaeac;
  --toggle-button-letter-spacing: .5px;
  --toggle-button-icon-size: 6px;
  --toggle-button-separator-horizontal-margin: 16px;
  --toggle-button-separator-font-family: 'Franklin Gothic Book';
  --toggle-button-separator-font-size: 36px;
  --toggle-button-separator-font-weight: normal;
  --toggle-button-separator-font-color: #373634;
  --play-button-font-color: #26a82c;
  --rec-button-font-color: #e00809;
  --pad-button-width: 84px;
  --pad-button-height: 84px;
  --pad-button-border-radius: 4px;
  --pad-button-border-width: 1px;
  --pad-button-border-color: #363636;
  --pad-button-font-family: 'Dubai';
  --pad-button-font-size: 16px;
  --pad-button-font-weight: bold;
  --pad-button-font-color: #373634;
  --jog-wheel-width: 64px;
  --jog-wheel-height: 64px;
  --jog-wheel-background-color: #373634;
  --jog-wheel-inner-color: #f2f2f2;
  --touch-strip-width: 216px;
  --touch-strip-height: 24px;
  --touch-strip-border-radius: 2px;
  --touch-strip-border-color: #363636;
  --touch-strip-background-color: #373634;
  --touch-strip-inner-color: #f2f2f2;
}

html, body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  text-shadow: 0 1px 2px rgba(black, .2);
}

* {
  box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}